.contenedorDetalle {
    margin-left: 1em;
    padding-top: 50px;
}

.contenedorImagenDetalle {
    height: 230px;
    padding: 10px;
    width: 45%;
}

.contenedorImagenDetalle img {
    width: 400px;
}

.contenedorImagenPequeña {
    width: 25%;
    display: flex;
}

.contenedorImagenPequeña img {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.2);
    padding: 8px;
    margin: 10px 10px 15px;
    cursor: pointer;
}

.texto p{

margin-bottom: 20px;
}

.texto .btnAgregarCarrito {
    
    padding: 10px;
    
}

.texto .starWidget input{
    display: none;
}

.texto .starWidget label{
    font-size: 40px;
    color: #ffb400;
}

@media screen and (min-width: 768px){
    .contenedorDetalle {
        margin-left: 3em;
    }
    .contenedorImagenDetalle {
        height: 500px;
    }
    .contenedorImagenPequeña {
        width: 8%;
    }
    .contenedorImagenDetalle img {
        width: 860px;
    }
}