.modalContenido{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgb(245, 245, 245);
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.05);
    padding: 10px;
  }
  
  
  
  .modalContenido form {
    padding: 0 40px;
    box-sizing: border-box;
  }
  
  .modalLogin  {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    transition: all 1s;
  }
  
  .modalLogin .div-logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-items: center;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-left: 0px;
  }
  
  .modalLogin .div-logo a {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #000;
  }
  
  
  .modalLogin .div-logo img {
    width: 100%;
    height: 100%;
  
  }
  .botones{
      display: flex;
      justify-content: space-around;
      column-count: 2;
  }

  .iconosLogin{
      
      text-align: center;
  }
  .iconosLogin i{
      color: #000;
  }
  
  #modalLogin:target,#modalRegistro:target {
    opacity: 1;
    pointer-events: auto;
  }
  
  form .txt_field {
    position: relative;
    border: 2px solid #000;
    border-radius: 5px;
    margin: 30px 0;
  }
  
  #modalRegistro form .txt_field {
    margin: 20px 5px;
  }
  #modalRegistro .modalContenido .nombreCompletoRegistro{
    margin-bottom: -15px;
  }
  
  #modalRegistro .modalContenido .nombreCompletoRegistro{
    display: flex;
    column-count: 2;
    text-align: center;
    justify-content: center;
  
  }
  
  .txt_field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
  }
  
  .txt_field label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
    border: none;
  }
  
  .txt_field span::before {
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #000;
    transition: .5s;
  }
  
  
  
  .txt_field input:focus~label,
  .txt_field input:valid~label {
      font-size: 0px;
    top:-15px;
    color: #000;
  
    
  }
  
  .txt_field input:focus~span::before,
  .txt_field input:valid~span::before {
    width: 100%;
  }
  

  
  .pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
  }
  
  .pass:hover {
    text-decoration: underline;
  }
  
  input[type="submit"], .btnRegresar ,.btnAgregarCarrito{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: #EAD026;
    border-radius: 5px;
    font-size: 18px;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    outline: none;
    margin: 0 5px;
    text-align: center;
    align-items: center;
  }
  
  .btnRegresar {
      
    padding-top: 15px;
  }

  input[type="submit"]:hover {
    border-color: #2691d9;
    transition: .5s;
  }
  
  .signup_link,
  .signout_link {
    margin: 10px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  
  .signup_link,
  .signout_link a {
    color: #000;
    text-decoration: none;
  }
  
  .signup_link a:hover {
    text-decoration: underline;
  }